/* custom colors */
:root{
--White: hsl(0, 0%, 100%);
--Lightgray: #d6e2f0;
--Grayishblue: #7b879d;
--Darkblue: #1f3251;
--400: 400;
--700: 700;
}
/* reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 15px;
  font-family: 'Oufit Sans', sans-serif;
}
  