:root{
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
--400: 400;
--700: 700;
}

body{
  font-size: 15px;
  font-family: 'Oufit Sans', sans-serif;
}
  