/* custom colors */
:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: #d6e2f0;
  --Grayishblue: #7b879d;
  --Darkblue: #1f3251;
  --400: 400;
  --700: 700;
}
/* reset css */
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  color: #7b879d;
  width: 375px;
  height: 667px;
  background-color: var(--Lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--White);
  border-radius: 18px;
  height: 500px;
  width: 320px;
  padding: 16px;
  box-shadow: 0 5px 50px -20px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .big-title {
    font-size: 20px;
    font-weight: var(--700);
    margin-top: 25px;
    color: var(--Darkblue);
  }

  .paragraph {
    color: var(--Grayishblue);
    text-align: center;
    font-weight: var(--400);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 7px;
  }
}
